.enzo-float {
  animation: float-up 1.5s ease-out forwards;
}

@keyframes float-up {
  0% {
    opacity: 1;
    bottom: 0;
  }
  80% {
    opacity: 1;
    bottom: 70%;
  }
  100% {
    opacity: 0;
    bottom: 90%;
  }
}